<!doctype html>
<html>
<head>
<title>SuperBasic IM</title>
<link href="/public/css/style.css" rel="stylesheet">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">SuperBasic IM</a>
          </div>
      
          <div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/chats" class="btn btn-success" id="first-btn">Chats</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
        </div>
      </nav>
<div class="chat-area">
    <ul>
        {{#each users}}
            <li>
                <a href="/chats/{{this.id}}/vcard">{{this.name}} (Download VCard)</a>
            </li>
        {{/each}}
    </ul>
</div>
</body>
</html>