<!doctype html>
<html>
<head>
<title>SuperBasic IM</title>
<link href="/public/css/style.css" rel="stylesheet">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">SuperBasic IM</a>
          </div>
        </div>
        </div>
      </nav>
<div class="chat-area">
    <img src="{{qr}}" />
</div>
<footer>
    <ul class="nav nav-pills nav-stacked">
      <li><strong><a href="/">Refresh</a></strong></li>
    </ul>
  </footer>
</body>
</html>